
  <div class="chip results" style="font-size:20px;height:50px;min-width:1000px;margin-top:10px">
    <%= image_tag track.artwork_url %>
    <%= track.user.username style:'vertical-align:-webkit-baseline-middle;'%>
    <%= link_to track.title, style:'vertical-align:-webkit-baseline-middle;'%>
    <%= button_to "ADD", add_to_playlist_path(track),
        class: "btn-floating btn-large waves-effect waves-light red",
        style: "height:50px;width:50px;", method: :post, params: {service: 'soundcloud'}, remote: true %>
  </div>
