<div style="padding-top:40px">
  <div class="title container center">
    <div class="cake-container" style="display:inline-block;vertical-align:middle;">
      <%= svg_tag 'cake.svg', class: 'cake-custom' %>
    </div>
    <h1 style="color:white; display:inline-block; vertical-align:middle;">Mix Cake</h1>

    <%= link_to "Login With Google", "/auth/google", id:"google-button"%>
  </div>
  <div class="row", id="grid"></div>
  </div>
