<div class="container center">
<h6 style="color:#FFFFFF;"><%= song.artist.name %></h6>
<h5 style="color:#FFFFFF;"><%= song.title %></h5>
<a class="btn-floating transparent" id="prev-button"><i class="material-icons">skip_previous</i></a>
<a class="btn-floating transparent" id="pause-button"><i class="material-icons">pause_circle_outline</i></a>
<a class="btn-floating transparent" id="play-button"><i class="material-icons">play_circle_outline</i></a>
<a class="btn-floating transparent" id="next-button"><i class="material-icons">skip_next</i></a>
</div>

<script>
$('#play-button').hide()

$('#pause-button').click(function(){
  context.suspend()
  $(this).hide()
  $('#play-button').show()
})

$('#play-button').click(function(){
  context.resume()
  $(this).hide()
  $('#pause-button').show()
})

</script>
