
  <% if @song %>
    <% if @song.id != song['id'].to_i %>
      <div class="card transparent grow" style="margin:30px;">
        <div class="card-image">
          <div class="black darken-4" style="opacity:0.7">
            <img src="<%= song['sc_art'] %>">
          </div>
          <span class="card-title" style="font-size:13px;z-index:100;font-color:white;opacity:1;padding-bottom:4px;margin-top:20px;">
            <p>
              <h6 class="queue-text" style="visibility:hidden;">
                hello
              </h6>
            </br>
          </p>
          </span>
        </div>
      </div>
    <% end  %>

  <% else %>
    <div class="card transparent grow" style="margin:30px;">
      <div class="card-image">
        <div class="black darken-4" style="opacity:0.3">
          <img src="<%= song['sc_art'] %>">
        </div>
        <span class="card-title" style="font-size:13px;z-index:100;font-color:white;opacity:1;padding-bottom:4px;margin-top:20px;">
          <p>
            <h6>
            </h6>
          </br>
        </p>
        </span>
      </div>
    </div>
    <% end %>
