<div class="card transparent" style="margin:10px;">
  <div class="card-image">
    <div class="black darken-4" style="opacity:0.3">
      <img src="<%= song['sc_art'] %>">
    </div>
    <span class="card-title" style="font-size:13px;z-index:100;font-color:white;opacity:1;padding-bottom:4px;margin-top:20px;">
      <p>
        <h6>
          <%= song['artist'] %>
        </h6>
      </br>
      <%= song['title'][0..30] %>
    </p>
    </span>
  </div>
</div>
