<div style="width:150px;height:100vh;">
<div class="drop-shadow z-depth-3 queue-box" style="z-index:1000;position:absolute;height:170px;width:170px;background-color:#05A470;">
<h5 style="color:white;padding-left:49px;margin-top:25px">Queue</h5>
<%= button_to "clear", clear_queue_path, id:'clear-button', style:'margin-left:10px;margin-top:12px', remote: true %>
</div>
  <div style="width:150px;bottom:170px;position:absolute">
    <%= render partial: '/players/queue_item', collection: songqueue.reverse, as: :song %>
  </div>
</div>
